.text {
    font-size: 1.5em;
}
.smallMessage {
    font-size: 0.7em;
}
.message {
    font-size: 2em;
}
.margins {
  margin: 15px;
}
.fineText {
    font-size: 12px;
    line-height: 0.5
}
.url {
  color: hotpink;
}
